* text=auto

*.md diff=markdown
*.php diff=php

/.github export-ignore
/.git export-ignore
/.idea export-ignore
/.vscode export-ignore
/tests export-ignore
/storage/tests export-ignore
.editorconfig export-ignore
.gitattributes export-ignore
.gitignore export-ignore
CHANGELOG.md export-ignore
phpunit.xml export-ignore